# Lab 4

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-510/blob/main/book/labs/lab_04.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [28]:
 # variable 
latitude = '40.7128'
longitude = '-74.0060'
population = '8.623'
area = '468.9'

In [29]:
#calculate density 
density = float(population)/float(area)

In [30]:
print(density)

0.01838984858178716

In [31]:
print('latitude',latitude, 'longitude', longitude )

latitude 40.7128 longitude -74.0060

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [32]:
city = 'San Francisco'

In [33]:
print(city.lower())

san francisco

In [34]:
print(city.upper())

SAN FRANCISCO

In [35]:
print(city.replace('San','Los'))

Los Francisco

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [36]:
cities =[
    ('New York City', (40.7128, -74.0060)),
    ('Los Angeles', (34.0522, -118.2437)),
    ('Chicago', (41.8781, -87.6298))
]

In [37]:
cities.append(('Miami', (25.7617, -80.1918)))

In [38]:
print (cities)

[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298)), ('Miami', (25.7617, -80.1918))]

In [39]:
print(cities[:2])

[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437))]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [47]:
Eiffel_Tower = (48.8584,2.2945)

In [48]:
print(Eiffel_Tower)

(48.8584, 2.2945)

# 
this erros will ocurr because tuples are immutable so when you try to change it will give you an error.

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [49]:
visited_contries ={'USA', 'France', 'Germany'}

In [50]:
visited_contries.add('Perú')

In [51]:
visited_contries.add('Perú')

In [52]:
print(visited_contries)

{'USA', 'Perú', 'Germany', 'France'}

## 
nothing happen , maybe its because adding the same country do not interfier with the sets.

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 m³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [54]:
river = {
    'Name' : 'Amazon River',
    'length' : 6400,
    'contries' : ['Brazil', 'Perú', 'Colombia', ] 
}

In [55]:
river['discharge'] = 209000

In [56]:
river['length'] = 6992

In [57]:
print(river)

{'Name': 'Amazon River', 'length': 6992, 'contries': ['Brazil', 'Perú', 'Colombia'], 'discharge': 209000}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [59]:
city ={
    'Name' : 'Tokio',
    'Population' : 13515271,
    'Coordinates' : (35.6895,139.6917)
}

In [60]:
print(city['Population'])

13515271

In [62]:
print(city['Coordinates'][0])

35.6895

In [63]:
city ['Population']= 14000000

In [66]:
print(city)

{'Name': 'Tokio', 'Population': 14000000, 'Coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [67]:
cities =[
    ('New York City', (40.7128, -74.0060)),
    ('Los Angeles', (34.0522, -118.2437)),
    ('Chicago', (41.8781, -87.6298))
]

In [69]:
cities.sort()

In [70]:
city_names = [city[0]for city in cities]

In [71]:
cities.pop()

('New York City', (40.7128, -74.006))

In [72]:
print(cities)

[('Chicago', (41.8781, -87.6298)), ('Los Angeles', (34.0522, -118.2437))]

In [73]:
print(city_names)

['Chicago', 'Los Angeles', 'New York City']

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [74]:
print ('length' in river)

True

In [75]:
print(river.keys())

dict_keys(['Name', 'length', 'contries', 'discharge'])

In [76]:
print(river.values())

dict_values(['Amazon River', 6992, ['Brazil', 'Perú', 'Colombia'], 209000])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [46]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [77]:
location_names = [location[0] for location in locations]

In [78]:
location_dict: {location[0]: location[1:]for location in locations}

In [80]:
location_dict = {location[0]: location[1:] for location in locations}
print(location_dict['K2'][0])

35.8808

## Exercise 11: Manipulating Geographic Location Strings

- Create a string that represents the name of a geographic feature (e.g., `"Amazon River"`).
- Convert the string to lowercase and then to uppercase.
- Concatenate the string with the name of the country (e.g., `"Brazil"`) to create a full location name.
- Repeat the string three times, separating each repetition with a dash (`-`).

In [81]:
feature = 'Amazone River'

In [82]:
print(feature.lower())

amazone river

In [83]:
print(feature.upper())

AMAZONE RIVER

In [84]:
full_location = feature + ', Brazil'

In [85]:
print(full_location)

Amazone River, Brazil

In [88]:
print((feature +'-') *2 + feature)

Amazone River-Amazone River-Amazone River

## Exercise 12: Extracting and Formatting Coordinates

- Given a string with the format `"latitude, longitude"` (e.g., `"40.7128N, 74.0060W"`), extract the numeric values of latitude and longitude.
- Convert these values to floats and remove the directional indicators (`N`, `S`, `E`, `W`).
- Format the coordinates into a `POINT` WKT string (e.g., `"POINT(-74.0060 40.7128)"`).

In [89]:
coord_string = '40.7128N, 74.0060W'

In [93]:
coord_string = coord_string.replace('N', '').replace('W', '').replace('E', '').replace('S','')

In [94]:
lat_str, lon_str = coord_string.split(',')

In [95]:
latitud = float(lat_str)
longitud = float(lon_str)

In [96]:
wkt_point = f'POINT({longitud}{latitud})'

In [97]:
print(wkt_point)

POINT(74.00640.7128)

## Exercise 13: Building Dynamic SQL Queries

- Given a table name and a condition, dynamically build an SQL query string.
- Example: If `table_name = "cities"` and `condition = "population > 1000000"`, the query should be `"SELECT * FROM cities WHERE population > 1000000;"`.
- Add additional conditions dynamically, like `AND` clauses.

In [98]:
table_name = 'cities'
condition = 'population > 1000000'

In [99]:
query = f'SELECT * FROM {table_name} WHERE {condition}'
print(query)

SELECT * FROM cities WHERE population > 1000000

In [101]:
extra_condition = "contry = 'USA'"
query = f'SELECT * FROM {table_name} WHERE {condition} AND {extra_condition}'
print(query)

SELECT * FROM cities WHERE population > 1000000 AND contry = 'USA'

## Exercise 14: String Normalization and Cleaning

- Given a list of city names with inconsistent formatting (e.g., `[" new york ", "Los ANGELES", "   CHICAGO"]`), normalize the names by:
  - Stripping any leading or trailing whitespace.
  - Converting them to title case (e.g., `"New York"`, `"Los Angeles"`, `"Chicago"`).
- Ensure that the output is a clean list of city names.

In [102]:
cities = [" new york ", "Los ANGELES", "   CHICAGO"]

In [103]:
clean_cities = [city.strip().title() for city in cities]
print(clean_cities)

['New York', 'Los Angeles', 'Chicago']

## Exercise 15: Parsing and Extracting Address Information

- Given a string in the format `"Street, City, Country"` (e.g., `"123 Main St, Springfield, USA"`), write a function that parses the string into a dictionary with keys `street`, `city`, and `country`.
- The function should return a dictionary like `{"street": "123 Main St", "city": "Springfield", "country": "USA"}`.

In [110]:
def parse_address(address):
    parts = address.split(", ")
    address_dict = {           
        "street": parts[0], 
        "city": parts[1], 
        "country": parts[2]
    }
    return address_dict

In [111]:
address = "123 Main St, Springfield, USA"
parsed_address = parse_address(address)

In [112]:
print(parsed_address)

{'street': '123 Main St', 'city': 'Springfield', 'country': 'USA'}

## Exercise 16: Using For Loops to Process Coordinate Lists

- Create a list of tuples representing coordinates (latitude, longitude).
- Write a `for` loop that prints each coordinate and indicates whether it is in the Northern or Southern Hemisphere based on the latitude.

In [113]:
coordinates = [(40.7128, -74.0060), (-33.8688, 151.2093), (51.5074, -0.1278), (-23.5505, -46.6333)]

In [114]:
for lat, lon in coordinates:
    if lat >= 0:
        hemisphere = "Northern Hemisphere"
    else:
        hemisphere = "Southern Hemisphere"

In [115]:
print(f"Latitude: {lat}, Longitude: {lon} → {hemisphere}")

Latitude: -23.5505, Longitude: -46.6333 → Southern Hemisphere

## Exercise 17: While Loops for Iterative Processing

- Create a list of coordinates (latitude, longitude).
- Write a `while` loop that continues to print each coordinate until it encounters a coordinate with a negative latitude.
- Stop the loop once this condition is met.

## Exercise 18: Conditional Logic in Loops

- Create a list of coordinates and use a `for` loop to iterate over them.
- Use an `if-elif-else` statement inside the loop to classify each coordinate based on its longitude:
  - Print `"Eastern Hemisphere"` if the longitude is greater than 0.
  - Print `"Western Hemisphere"` if the longitude is less than 0.

In [116]:
coordinates = [(40.7128, -74.0060), (51.5074, -0.1278), (-33.8688, 151.2093), (34.0522, -118.2437)]

In [120]:
i = 0

while i < len(coordinates):
    lat, lon = coordinates[i] 
    
    if lat < 0: 
        break  
    
    print(f"Latitude: {lat}, Longitude: {lon}") 
    
    i += 1

Latitude: 40.7128, Longitude: -74.006
Latitude: 51.5074, Longitude: -0.1278

## Exercise 19: Filtering Data with Combined Loops and Conditionals

- Given a list of coordinates, filter out and store only those located in the Southern Hemisphere (latitude < 0).
- Count the number of coordinates that meet this condition and print the result.

In [121]:
southern_coords = []

In [122]:
for lat, lon in coordinates:
    if lat < 0:  
        southern_coords.append((lat, lon))

In [123]:
count = len(southern_coords)

print("Coordinates in the Southern Hemisphere:", southern_coords)
print("Total count:", count)

Coordinates in the Southern Hemisphere: [(-33.8688, 151.2093)]
Total count: 1

## Exercise 20: Generating and Analyzing Random Coordinates

- Write a program that generates random coordinates (latitude between [-90, 90] degrees and longitude between [-180, 180] degrees).
- Use a `while` loop to keep generating coordinates until a pair with both latitude and longitude greater than 50 is generated.
- Print each generated coordinate and the final coordinate that meets the condition.

In [126]:
import random

while True:
    latitude = random.uniform(-90, 90)
    longitude = random.uniform(-180, 180)
    print(f"Generated coordinate: ({latitude:.4f}, {longitude:.4f})")
    if latitude > 50 and longitude > 50:
        print(f"Final coordinate meeting condition: ({latitude:.4f}, {longitude:.4f})")
        break

Generated coordinate: (-83.6984, 75.5534)
Generated coordinate: (-3.5943, 165.1249)
Generated coordinate: (-10.3785, -133.5153)
Generated coordinate: (20.5550, 100.0620)
Generated coordinate: (88.1517, -132.3694)
Generated coordinate: (39.7797, 115.8393)
Generated coordinate: (-6.9293, 134.3768)
Generated coordinate: (9.7005, -29.8807)
Generated coordinate: (-40.5085, 68.6699)
Generated coordinate: (32.1036, -63.2291)
Generated coordinate: (-55.8608, -117.4680)
Generated coordinate: (6.0289, 76.0291)
Generated coordinate: (7.8877, -109.3225)
Generated coordinate: (11.5998, 75.5195)
Generated coordinate: (32.6964, 111.3726)
Generated coordinate: (13.0999, -42.7113)
Generated coordinate: (10.5408, -155.3436)
Generated coordinate: (57.7288, 25.5007)
Generated coordinate: (11.6436, -107.2724)
Generated coordinate: (-53.2377, 77.1444)
Generated coordinate: (-43.8582, -30.3089)
Generated coordinate: (67.5463, 151.8698)
Final coordinate meeting condition: (67.5463, 151.8698)

## Submission Requirements

Complete the exercises above and and upload the notebook to your GitHub repository. Make sure the notebook has a Colab badge at the top so that it can be easily opened in Google Colab. Submit the URL of the notebook to Canvas.